* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: darkblue;
  color: white;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.navbar h2 a {
  color: #fff;
  text-decoration: none;
}
.navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}
.navbar ul li:last-child {
  margin-right: 0px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.singleCard {
  width: 80%;
  display: block;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 12px;
  border-radius: 4px;
  text-align: justify;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.singleCard span {
  position: absolute;
  right: 12px;
  top: 12px;
}

.singleCard:hover{
  background-color: darkblue;
  color: white;
  transform: scale(1.01);
}

.quotesCard {
  width: 80%;
  display: block;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 12px;
  border-radius: 4px;
  text-align: justify;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.quotesCard h4 {
  font-size: 20px;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.quotesCard p {
  font-size: 14px;
}
.quotesCard p span {
  font-weight: 500;
  color: darkblue;
  font-size: 16px;
}

.quotesCard:hover{
  background-color: darkblue;
  color: white;
  transform: scale(1.01);
}

.quotesCard:hover p span{
  color: white;
}

ul.pagination {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  list-style: none;
}
ul.pagination li {
  display: inline;
  margin: 0 10px 0 0;
  text-align: left;
}
ul.pagination li button {
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  border: #ccc solid 1px;
  color: #222;
  padding: 2px 4px;
}

.logoImage{
  width: 60px;
  animation: App-logo-spin infinite 10s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.harrypottermaincard{
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.harry-potter-article{
  width: 30%;
  margin: 10px auto 10px auto;
  border: #ccc solid 1px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: #e9e9e9 0 10px 10px;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.harry-potter-article img{
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: #ccc solid 5px;
}
.harry-potter-article p{
  position: absolute;
  left: 150px;
  top: 12px;
  font-size: 13px;
}
span.common-class {
  display: block;
  text-align: left;
  line-height: 18px;
}

.harry-potter-article:hover{
  background: darkblue;
  border: darkblue solid 1px;
  box-shadow: #e9e9e9 0 10px 10px;
  color: white;
}

.harry-potter-article:hover img{
  border: white solid 5px;
}

h1.commontitleclass {
  font-size: 28px;
  font-weight: bold;
  max-width: 60%;
  margin: 0 auto 34px auto;
  position: relative;
}

h1.commontitleclass::after{
  content: "";
  width: 80px;
  height: 2px;
  background: darkblue;
  position: absolute;
  left: 47%;
  right: 0;
  bottom: -10px;
}